<h1>Show Tenant</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tenant.name %>
  </li>

  <li>
    <strong>Raw Current Tenant:</strong>
    <%= @raw_current_tenant %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.tenant_path(@conn, :edit, @tenant) %></span>
<span><%= link "Back", to: Routes.tenant_path(@conn, :index) %></span>
